/***************************
       Default Styles
***************************/
body{
  position: relative;
  color: $white;
  background: $blue;
}


/***************************
       Main Content
***************************/
.main-content{
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}


/***************************
       Start Button
***************************/
.start-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $dark-blue;
  z-index: 999;
}
.start-menu__button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
